@import url('https://fonts.googleapis.com/css?family=Alice|Julius+Sans+One|Pacifico');

.jumbotron {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  border-radius: 30px;
  background-color: rgb(225, 255, 255);
  opacity: 0.9;
  margin: 10px;
}

h3 {
  font-weight: 400;
  font-family: monospace;
  font-size: 70px;
  font: outline;
}

p {

  font-size: 10px;
  text-align: center;
}

 body {
    background-image: url("/assets/anime.jpeg");
    background-position: center;
    background-attachment: fixed;
  }  

.container {

  opacity: 0.85;
}
